'.source.js':
  'QCObjects JS Package':
    'prefix': 'Package'
    'body': """
\'use strict\';
Package(\'${1:packageName}\',[
  Class(\'${2:ClassName1}\',${3:InheritClass},{
    ${4:propertyName1}:${5:'propertyValue1'},
  }),
  Class(\'${2:ClassName2}\',${3:InheritClass},{
    ${4:propertyName2}:${5:'propertyValue2'},
  }),
]);
"""
